<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Condensed:wght@600&display=swap" rel="stylesheet">
<div class="background-container">
    <div class="grid-container">
        <div class="row" id="bar">
            <app-bar-chart></app-bar-chart>
        </div>  
        <div class="row" id="lion">
            <div class="content-container">
                <div class="line">
                    <app-line-lion></app-line-lion>
                </div>
            </div>
        </div>  
        <div class="row" id="parrot">
            <div class="content-container">
                <div class="line">
                    <app-line-bird></app-line-bird>
                </div>
            </div>
        </div>
        <div class="row" id="lion-day">
            <div class="content-container">
                <div class="line">
                    <app-day-lion></app-day-lion>
                </div>
            </div>
        </div>
        <div class="row" id="bird-day">
            <div class="content-container">
                <div class="line">
                    <app-day-bird></app-day-bird>
                </div>
            </div>
        </div>
    </div> 
    
</div>
