<div class="background-container">
    <div class="grid-container">
        <div class="column" id="lion">
            <div class="profile-container">
                <div class="profile" id="lion-head"></div>
            </div>
            <div class="AI-container">
                <p>AI gedeelte: work in progress</p>
            </div>
            <div class="content-container">
                <div class="line">
                    <app-chart-dag-wetenschap></app-chart-dag-wetenschap>
                </div>
                <div class="bar">
                    <!-- HIER BAR CHART leeuw-->
                </div>
            </div>
        </div>
        <div class="column" id="parrot">
            <div class="profile-container">
                <div class="profile" id="parrot-head"></div>
            </div>
            <div class="AI-container">
                <p>AI gedeelte: work in progress</p>
            </div>
            <div class="content-container">
                <div class="line">
                    <app-line-bird></app-line-bird>
                </div>
                <div class="bar">
                    <!-- HIER BAR CHART papegaai-->
                </div>
            </div>
        </div>
    </div> 
    <div class="logo-container">
        <div class="logo">
            <img src="/assets/DeMorgen-logo.png">
        </div>
        <div class="logo">
            <img src="/assets/UA-logo.png">
        </div>
        <div class="logo">
            <img src="/assets/ASAsense-logo.png">
        </div>
        <div class="logo" id="orange-logo">
            <img src="/assets/orange-logo.png">
        </div>
        <div class="logo" id="uza-logo">
            <img src="/assets/uza-logo.png">
        </div>
    </div>
</div>
