* {
    font-family: 'Roboto', sans-serif;
}

.block-container {
    background-color: lightgray;
    width: 11rem;
    height: 10rem;

    border-radius: 1rem;

    position: relative;
}

.block-container p {
    color: white;

    font-size: 1rem;
}

.text-block {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.dba {
    font-size: 2rem;
    color: white;
}